In [5]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_csv("/Users/Pushkar/Desktop/prac_g/Data-Visualization/parks.csv",index_col=['Park Code'])

In [10]:
df.head(3)

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

In [19]:
#Accessing information based on row number
df.iloc[1]

Park Name    Arches National Park
State                          UT
Acres                       76519
Latitude                    38.68
Longitude                 -109.57
Name: ARCH, dtype: object

In [21]:
#Accessing multiple rows information based on row number
df.iloc[[0,1,2]]

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

In [22]:
#Accessing row information based on row name
df.loc['ARCH']

Park Name    Arches National Park
State                          UT
Acres                       76519
Latitude                    38.68
Longitude                 -109.57
Name: ARCH, dtype: object

In [23]:
#Accessing multiple row information based on row name
df.loc[['ACDA','ARCH','BADL']]

/Applications/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  from ipykernel import kernelapp as app

                        Park Name State     Acres  Latitude  Longitude
Park Code
ACDA                          NaN   NaN       NaN       NaN        NaN
ARCH         Arches National Park    UT   76519.0     38.68    -109.57
BADL       Badlands National Park    SD  242756.0     43.75    -102.50

In [24]:
#dataframe slicing
df[:3]

                        Park Name State   Acres  Latitude  Longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50

In [25]:
df[3:5]

                        Park Name State   Acres  Latitude  Longitude
Park Code
BIBE       Big Bend National Park    TX  801163     29.25    -103.25
BISC       Biscayne National Park    FL  172924     25.65     -80.08

In [ ]:
df['State']